/* ------------------------------- Sección de productos ------------------------------- */
.general__productos{
    display: flex;
    width: 75vw;
    margin: 0 20%;
    flex-direction: column;
}

/* ------------------------------- Divs de la sección de productos ------------------------------- */
.productos__totales{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.producto__titulo{
    font-size: 32px;
    font-weight: bold;
}

.mostrar__mas{
    font-weight: bold;
    margin-top: 25px;
    color: var(--azul-destaque);
}

.descripcion{
    font-weight: 500;
}

.precio{
    font-weight: bold;
}

.productos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card{
    width: 25vw;
    display: flex;
    margin-bottom: 5%;
}