/* ------------------------------- Sección de productos ------------------------------- */
.general__productos{
    display: flex;
    flex-direction: column;
    width: 60vw;
    margin: 0 auto;
}

/* ------------------------------- Divs de la sección de productos ------------------------------- */
.producto__titulo{
    display: flex;
    justify-content: space-between;
}

.producto__titulo .titulo{
    font-size: 32px;
    font-weight: bold;
}

.mostrar__mas{
    font-weight: bold;
    margin-top: 25px;
    color: var(--azul-destaque);
}

.seccion__productos{
    height: 310px;
    width: 60vw;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.descripcion{
    font-weight: 500;
}

.precio{
    font-weight: bold;
}