/* Variables */
:root{
    --bg-color: #EBEBEB;
    --input-placeholder: #D4D4D4;
    --input-bg: #EFEFEF;
    --texto-destaque: #FFF;
    --azul-destaque: #2A7AE4;
    --bg-contacto: #EAF2FD;
}

/* Normalize */
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    background-color: var(--bg-color);
}

/* Patrón del proyecto */
textarea:focus, input:focus{
    box-shadow: 0 0 0;
    border: 0 none;
    outline: 0;
}

input::placeholder, textarea::placeholder{
    color: var(--input-placeholder);
    padding: 2%;
}

a{
    text-decoration: none;
    color: var(--azul-destaque);
    font-weight: 800;
}

button{
    cursor: pointer;
}

/* Header general */
header{
    background-color: var(--texto-destaque);
    padding: 32.5px 155px;
}

nav{
    display: flex;
    align-items: center;
}

/* Divs del header */
.logo__busqueda{
    margin-left: 175px;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    display: flex;
    align-items: center; 
}

.logo img{
    height: 30px;
    width: 40px;
}

.logo p{
    font-size: 26px;
    font-weight: bold;
}

.logo .logo__azul{
    margin-left: 10px;
    color: var(--azul-destaque);
}

.logo__busqueda input{
    margin-left: 10%;
    width: 395px;
    height: 40px; 
    border-radius: 30px;
    padding: 1% 3%;
    border: none;
    background-color: var(--input-bg);
    background-image: url();
}

.login{

}

.login button{

}

.login button:hover{
    cursor: pointer;
}